name: Deploy docs website

on:
  workflow_dispatch:
  repository_dispatch:
    types: [build_docs]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out docs repo
        uses: actions/checkout@v3
        with:
          repository: ClickHouse/clickhouse-docs
          path: ./
      - name: Download Reference Doc
        run:  |
          curl https://codeload.github.com/ClickHouse/ClickHouse/tar.gz/master | tar -xz -C ./ --strip=2 "ClickHouse-master/docs/"
          cp -R ./en docs
          cp -R ./ru docs/
          cp -R ./zh docs/
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.9.1'
      # Install and build Docusaurus website
      - name: Build Docusaurus website
        run: |
          yarn build
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages-test
          build_dir: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
